flows (1).json
[{"id":"2b54f78a.9dce88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b62b114e.b3e9","type":"http request","z":"2b54f78a.9dce88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6256dfc3-166b-48eb-8079-da54ac86c476/deployments/9c442b00-4d21-475e-b71b-0a9fdf45b10f/online","tls":"","proxy":"","authType":"basic","x":550,"y":220,"wires":[["9517b753.77b088","c994b42e.ad10f8"]]},{"id":"688498f4.7e6b18","type":"function","z":"2b54f78a.9dce88","name":"prediction","func":"var token=msg.payload.token;\nvar SepalLengthCm=global.get(\"SepalLengthCm\");\nvar SepalWidthCm=global.get(\"SepalWidthCm\");\nvar PetalLengthCm=global.get(\"PetalLengthCm\");\nvar PetalWidthCm=global.get(\"PetalWidthCm\");\nmsg.payload={\"fields\":[\"SepalLengthCm\",\"SepalWidthCm\",\"PetalLengthCm\",\"PetalWidthCm\",],\"values\":[[SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["b62b114e.b3e9"]]},{"id":"c994b42e.ad10f8","type":"debug","z":"2b54f78a.9dce88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":140,"wires":[]},{"id":"abfc5616.2c5888","type":"http request","z":"2b54f78a.9dce88","name":"prediction","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":480,"y":40,"wires":[["5f752b2d.32c6a4","688498f4.7e6b18"]]},{"id":"60ba2806.453c18","type":"inject","z":"2b54f78a.9dce88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":60,"wires":[["5c2be52f.7fd11c"]]},{"id":"5c2be52f.7fd11c","type":"function","z":"2b54f78a.9dce88","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4b7f4f6a-899d-4e6f-a668-a7edc69ceb9e\"\nvar password=\"922e922c-8962-4ebb-a0a3-f2474bb0c850\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"SepalLengthCm\",msg.payload.SepalLengthCm)\nglobal.set(\"SepalWidthCm\",msg.payload.SepalWidthCm)\nglobal.set(\"PetalLengthCm\",msg.payload.PetalLengthCm)\nglobal.set(\"PetalWidthCm\",msg.payload.PetalWidthCm)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":20,"wires":[["abfc5616.2c5888"]]},{"id":"9517b753.77b088","type":"function","z":"2b54f78a.9dce88","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["ac0ebdcd.24721"]]},{"id":"5f752b2d.32c6a4","type":"debug","z":"2b54f78a.9dce88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":20,"wires":[]},{"id":"1513f3bf.cd01cc","type":"ui_text","z":"2b54f78a.9dce88","group":"b642e515.066078","order":2,"width":0,"height":0,"name":"","label":"SepalLengthCm","format":"{{msg.payload.SepalLengthCm}}","layout":"row-spread","x":400,"y":360,"wires":[]},{"id":"ac0ebdcd.24721","type":"ui_text","z":"2b54f78a.9dce88","group":"b642e515.066078","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":140,"wires":[]},{"id":"bea5fa0f.b32bb8","type":"ui_form","z":"2b54f78a.9dce88","name":"","label":"","group":"b642e515.066078","order":6,"width":0,"height":0,"options":[{"label":" enter SepalLengthCm","value":"SepalLengthCm","type":"number","required":true},{"label":"enter SepalWidthCm","value":"SepalWidthCm","type":"number","required":true},{"label":"enter PetalLengthCm","value":"PetalLengthCm","type":"number","required":true},{"label":"enter petalWidthCm","value":"PetalWidthCm","type":"number","required":true}],"formValue":{"SepalLengthCm":"","SepalWidthCm":"","PetalLengthCm":"","PetalWidthCm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["1513f3bf.cd01cc","834c3724.4ba6f8","279ba80.1e59458","5c2be52f.7fd11c","19bb5b32.037285"]]},{"id":"834c3724.4ba6f8","type":"ui_text","z":"2b54f78a.9dce88","group":"b642e515.066078","order":4,"width":0,"height":0,"name":"","label":"SepalWidthCm","format":"{{msg.payload.SepalWidthCm}}","layout":"row-spread","x":440,"y":400,"wires":[]},{"id":"279ba80.1e59458","type":"ui_text","z":"2b54f78a.9dce88","group":"b642e515.066078","order":3,"width":0,"height":0,"name":"","label":"PetalLengthCm","format":"{{msg.payload.PetalLengthCm}}","layout":"row-spread","x":360,"y":500,"wires":[]},{"id":"19bb5b32.037285","type":"ui_text","z":"2b54f78a.9dce88","group":"b642e515.066078","order":5,"width":0,"height":0,"name":"","label":"PetalWidthCm","format":"{{msg.payload.PetalWidthCm}}","layout":"row-spread","x":360,"y":560,"wires":[]},{"id":"b642e515.066078","type":"ui_group","z":"2b54f78a.9dce88","name":"Prediction","tab":"a3e332e3.916e6","disp":true,"width":"6","collapse":false},{"id":"a3e332e3.916e6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]